@import '../bower_components/susy/sass/susy';//@import '../bower_components/normalize-scss/_normalize.scss';

$susy: (
  flow: ltr, // ltr | rtl
  output: float, // float | isolate
  math: fluid, // fluid | static (requires column-width)
  column-width: false, // false | value
  container: 1366px, // length or % | auto
  container-position: center, // left | center | right | <length> [*2] (grid padding)
  last-flow: to, //from | to
  columns: 12,
  gutters: 1/4,
  gutter-position: after, // before | after | split | inside | inside-static (requires column-width)
  global-box-sizing: border-box, // content-box | border-box (affects inside/inside-static)
  debug: (
    image: show, //hide | show
    color: rgba(#66f, .25),
    output: background, // background | overlay
    toggle: top left, //top left  | top right
  ),
  use-custom: (
    background-image: true, // look for background-image mixin
    background-options: false, // look for background-size, -origin and -clip and other compass/bourbon mixins
    box-sizing: true, // look for custom bix sizing mixin
    clearfix: false, // true = look for internal clearfix before using micro clearfix
    rem: true, // look for rem mixin
  )
);

$gallery_layout: layout( 12 .125 fluid float after);
$nav_layout: layout( 12 0 fluid float inside);
$golden_layout: layout( (1 1.618 2.618) .1 fluid float split);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
img {
  width: 100%;
  height: auto;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

$color-primary-100: #C5CAE9;
$color-primary-500: #3F51B5;
$color-primary-700: #303F9F;
$color-secondary-200: #F48FB1;
$color-secondary-100: #F8BBD0;
$color-secondary-400: #EC407A;

$color-gray-900-darker: #212121;
$color-gray-700-dark: #616161;
$color-gray-500: #9E9E9E;
$color-gray-300-light: #E0E0E0;
$color-gray-100-lighter: #F5F5F5;
$color-gray-50-lightest: #FAFAFA;

// iPhone 6s plus 414px=25.9em         
// .. Tablet Layout Pattern (20em=320px) (old iPhone)26em=414px 48em=768px(iPad)  
$tablet-a: 414px;
$tablet-b: 768px;
$desktop-a: 1366px;

.debug {
  border: 1px dashed red;
  //background-color: #EFf; //OR
}
.wrap {
  @include container;
}
.contents {
  padding: 0 gutter();
}


.box{
  //@include full;
  padding: gutter();
  margin: gutter(2px);
  background-color: red;
}


@include susy-breakpoint($tablet-a){

    @include with-layout($golden_layout) {
      .box{
        @include span(20%);
      }
    }

}

header {  
  background-color: #f00;
  @include full;
  .logo {
     }
  .company-name {
  }
  nav {
  }
  .nav-item {
    @include span(3 of $nav_layout);
  }
} 

@include susy-breakpoint($tablet-a) {
  header {
    background-color: #f0f;
    .logo {
      @include span(3);
    }
    .company-name {
      @include span(4);
    }
    nav {
      @include full;
    }
  }
}

@include susy-breakpoint($tablet-b) {
  header {
    background-color: #303F9F;
    .logo {
      @include span(200px);
    }
    .company-name {
      @include span(last 6);
    }
    nav {
      @include full;
    }
  }
}



// .hero {
//   @include full;
//    .why-we-love {
//      @include span(5);
//    }
//   .about-pandas {
//     @include span(last 7);
//   }
//   .in-the-wild {
//     @include span(3 of 7);
//   }
//   .in-the-zoo {
//     @include span(last 4 of 7);
//   }
//   .in-the-media {
//     @include span(7 of 7) {
//       img {
//       @include span(2 );
//       }
//       .copy {
//         @include span(last 7);
//       }
//     }

//   }
// }

// .panda-gallery {
//   @include full;
//   div {
//     @include with-layout($gallery_layout) {
//       @include gallery(4);
//       margin-bottom: gutter();
//     }
//   }
// }

// footer {
//   @include with-layout($golden-layout) {
//     .panda-links {
//       @include span(1 at 1);
//     }
//     .panda-social {
//       @include span(1 at 2);
//     }
//       .social-link {
//         @include span(3 of 6 .25 inside);
//       }
//     .panda-partners {
//       @include span(1 at 3);
//       img {
//         @include span(50%);
//       }
//     }
//   }
// }


