*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.debug {
  border: 1px dashed red; }

.wrap {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%);
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.contents {
  padding: 0 1.69492%; }

.box {
  padding: 1.69492%;
  margin: 2px;
  background-color: red; }

@media (min-width: 414px) {
  .box {
    width: 20%;
    float: left;
    margin-left: 0.90318%;
    margin-right: 0.90318%; } }

header {
  background-color: #f00;
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  header .nav-item {
    width: 25%;
    float: left; }

@media (min-width: 414px) {
  header {
    background-color: #f0f; }
    header .logo {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%; }
    header .company-name {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
    header nav {
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

@media (min-width: 768px) {
  header {
    background-color: #303F9F; }
    header .logo {
      width: 200px;
      float: left;
      margin-right: 1.69492%; }
    header .company-name {
      width: 49.15254%;
      float: right;
      margin-right: 0; }
    header nav {
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
