*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.debug {
  border: 1px dashed red; }

.wrap {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%);
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.contents {
  padding: 0 1.69492%; }

* {
  box-sizing: border-box; }

section:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%);
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

header {
  background-color: #38a1d6;
  height: 4rem;
  margin-bottom: 1.69492%; }

.content {
  padding: 0 1.69492%; }

section {
  background-color: #16f4d0;
  height: 16rem;
  margin-bottom: 1.69492%; }
  @media (min-width: 40rem) {
    section {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
      margin-left: 25.42373%; } }

footer {
  background-color: #a1acb5;
  height: 4rem; }

.outline {
  display: block;
  margin: 1.69492% 0;
  font-family: Lato, sans-serif;
  color: #38a1d6;
  text-decoration: none;
  text-align: center; }
  .outline:hover {
    text-decoration: underline; }
